.app {
  background: #2a6c84;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_calculator {
  height: 500px;
  width: 280px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

.app_calculator_navbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  min-height: 40px;
  padding: 10px;
}

.app_calculator_navbar_toggle {
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 40px 80px rgba(0, 0, 0, 0.14);
}

.app_calculator_navbar_toggle_circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  transition: 300ms;
}

.app_calculator_navbar_toggle_circle_active {
  margin-left: 15px;
}